/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@100;200;700&family=Clicker+Script&family=Edu+SA+Beginner&family=Inter:wght@800&family=Lobster&family=Poppins:wght@300;400;500;600;700&display=swap');

body{
 font-family: 'poppins' sans-serif;
    line-height: 1.5;
    font-size: 16px;
}

*{
    margin:0;
    outline:none;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;

}

::before,::after{
box-sizing: border-box;

}

.aside{
width: 270px;
background: var(--bg-black-100);
position: fixed;
left: 0;
top: 0;
z-index: 10;
height: 100%;
padding: 30px;
display: flex;
justify-content: center;
align-items: center;
border-right: 1px solid rgb(143, 137, 137);


background: linear-gradient(45deg,black,rgb(146, 10, 146),black);
animation: object1 6s linear infinite;

}

 .hello .name{
    font-size: 50px;
}

.section{
    background: var(--bg-black-900);
    min-height: 100vh;
    display: block;
    padding: 0px 30px;
    opacity: 1;
    z-index: 0;
}
.hidden{
    display: none !important;  
}
.main-content{
    padding-left: 270px;
   
}

.padd-15{
    padding-left: 15px;
    padding-right:15px ;
}

.container{
    max-width: 1100px;
    width: 100%;
    margin: auto;
}

.section .container{
    padding-top: 60px;
    padding-bottom: 70px;
}
.section-title{
    flex: 0 0 100%;
    max-width: 100%;
    margin-bottom: 60px;
}
.section-title h2{
    font-size: 40px;
    color: var(--text-black-900);
    font-weight: 700;
    position: relative;
}
.section-title h2::before{
    content: '';
    height: 4px;
    width: 50px;
    background-color: purple;
    position: absolute;
    top: 100%;
    left: 0;
}

.section-title h2::after{
    content: '';
    height: 4px;
    width: 25px;
    background-color: purple;
    position: absolute;
    top: 100%;
    left: 0;
    margin-top: 8px;
}

.row{
    display: flex;
    flex-wrap: wrap;
    margin-left: -15px;
    margin-right: -15px;
    position: relative;

}
.btn{
    font-size: 16px;
    font-weight: 500;
    padding: 12px 35px;
    color: white;
    border-radius: 40px;
    border: none;
    display: inline-block;
    white-space: nowrap;
background: purple;
transition: all 0.3s ease;
}
.btn:hover{
    transform: scale(1.05);
}


ul{
    list-style: none;

}

.aside .logo{
    position: absolute;
    top: 25px;
    font-size: 30px;
    text-transform: capitalize;


}




.aside .nav-toggler{
    height: 40px;
    width: 45px;
    cursor: pointer;
    position: fixed;
    left: 300px;
    top: 20px;
    border-radius: 5px;
    background: var(--bg-black-100);
    display: flex;
    align-items: centre;
    justify-content: centre;
    color: purple;
    font-size: x-large;
    padding-left: 11px;
display: none;
}

.aside .logo img{
    margin-left: -26px;
  
}


.aside .nav{
    margin-top: 50px;
    font-weight: 400;
}
.aside .nav li{
    margin-bottom: 20px;
font-size: 25px;
    display: block;
   
    color: whitesmoke;
    font-weight: 400;
   
}
.aside .nav li a{
    font-size: 25px;
    font-weight: 300;
   text-decoration: none;
   margin-bottom: 2px;
    color: var(--text-black-900);
    padding: 5px 15px;
   
   
}


.aside .nav li a:hover{
    font-size: 25px;
    font-weight: 300;
    color: var(--text-black-900);
    padding: 5px 15px;
   font-size: 28px;
   text-transform: capitalize;
   font-weight: 900;
  
   
}
.aside .nav li a.action{
color: purple;
font-weight: 400;color: rgb(79, 7, 79);

}
.aside .nav li a.action:hover{
    background-color:rgb(241, 250, 251);
    color: red;
    }
    

.aside .nav li a i{
    margin-right: 15px;
}


/* ------------------------------------------ANIMATION------------------------------------------------- */


@keyframes profession{

from{
transform: translate(-300px);
}
to {
    transform:translate(0)
} 
    
}

.profession, .hello{
    animation: profession 2s ease-in forwards;
    transform: translateX(-150px);
    animation-duration: 3s;
}


/* ------------------------------------------HOME-------------------------------------------------- */
.home{
    min-height: 100vh;
    display: flex;
    color: var(--text-black-900);
    background:url(/assets/back.png);
    background-size: cover;
}
.home .home-info{
    flex: 0 0 60%;
    max-width: 60%;

}
h3.hello{
    font-size: 28px;
    margin: 15px 0;
}

h3.hello span{
    font-family: 'Clicker Script' , cursive;
    font-size: 30px;
    font-weight: 700;
     color: purple;

}
h3.profession{
    font-size: 30px;
    margin: 15px 0;

}

.profession .typing :after{
    animation: typing 1.5s steps(10);

}


.typing{
color: purple;
}
.home-info p{
    margin-bottom: 70px;
    font-size: 20px;
    color: var(--text-black-700);
}
.home .home-img{
    flex: 0 0 40%;
    max-width: 40%;
    text-align: center;
    position: relative;
}

.home-img::after{
    content: '';
    position: absolute;
    height: 80px;
    width: 80px;
    right: 20px;
    bottom: -40px;

}
.home-img::before{
    content: '';
    position: absolute;
    height: 80px;
    width: 80px;
    left: 20px;
    top: -45px;

}
.home .home-img img{
    margin: auto;
    border-radius: 5px;
    height: 400px;
}

.skill-percent{
 padding-top: 12px;
    padding-left: 50px;
}

/* ------------------------------------------ABOUT-------------------------------------------------- */

#about{
    background: url(/assets/emptyback.png);
    background-size: cover;
}
.about .about-content{
    flex: 0 0 100%;
    max-width: 100%;
   
}


.about-text p{
    
    width: 65%;

}
.about .about-content .about-text{
    flex: 0 0 100%;
    max-width: 100%;
}
.about .about-content .about-text h3{
    font-size: 24px;
    margin-bottom: 15px;
    font-weight: 700;
    color: var(--text-black-900);
}
.about .about-content .about-text h3 span{
    color: purple;
}
.about .about-content .about-text p{
    font-size: 16px;
    line-height: 25px;
    color: var(--text-black-700);
}

.about .about-content .personal-info{
    line-height: 70px;
  
    flex: 0 0 60%;
    max-width: 60%;
    margin-top: 40px;
}
.about .about-content .personal-info .buttons{
    margin-top: 30px;
    line-height: 25px;
}
.about .about-content .personal-info .buttons .btn {
    margin-right: 15px;
    margin-top: 10px;
}
.about .about-content .skills{
    flex: 0 0 40%;
    max-width: 40%;
    margin-top: 40px;
}
.about .about-content .personal-info .info-item{
    flex: 0 0 50%;
    max-width: 50%;

}
#btn1{
    margin-right: 10px;
}
#btn2{
    margin-top: 30px;
}
.about .about-content .personal-info .info-item p{
    font-weight: 600;
    font-size: 16px;
    padding: 10px 0;
    color: var(--text-black-900);
    border-bottom: 1px solid rgb(143, 137, 137);

}
.about .about-content .personal-info .info-item p span{
    font-weight: 400;
    color: var(--text-black-700);
    margin-left: 4px;
    display: inline-block;
}
.about .about-content .skills .skill-item{
    flex: 0 0 100%;
    max-width: 100%;

}
.about .about-content .skills .skill-item h5{
    line-height: 60px;
    font-weight: 600;
    font-size: 16px;
    color: var(--text-black-900);
    text-transform: capitalize;
}
.skill-percent{
 position: relative;
 margin-left: 360px;
 margin-top: -30px;
 color: blue;
}

.about .about-content .education{
    flex: 0 0 55%;
    max-width: 55%;
    margin-top: 30px;
}
.about .about-content .certification{
    flex: 0 0 45%;
    max-width: 45%;
    margin-top: 30px;
}
.about .about-content h3.title{
    font-size: 24px;
    margin-bottom: 36px;
    font-weight: 700;
    color: var(--text-black-900);

}
.about .about-content .timeline-box{
    flex: 0 0 100%;
    max-width: 100%;
}
.about .about-content .timeline{
background-color: rgb(245, 245, 245);
padding: 30px 15px;
border: 1px solid rgb(245, 245, 245);
width: 100%;
border-radius: 10px;
position: relative;
}

.shadow-dark{
    box-shadow: 0 0 20px tomato;
}
#cer{
    margin-left: 50px;
}
.about .about-content .timeline .timeline-item{
    position: relative;
    padding-left: 37px;
    padding-bottom: 50px;

}
.about .about-content .timeline .timeline-item:last-child{
    padding-bottom: 0;
}
.about .about-content .timeline .timeline-item::before{
    content: '';
    width: 1px;
    position: absolute;
    height: 100%;
    left: 7px;
    top: 0;
    background-color: purple;
}
.about .about-content .timeline .circle-dot{
    position: absolute;
    left: 0;
    top: 0;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    background-color: purple;
}
.about .about-content .timeline .timeline-date{
    font-weight: 400;
    font-size: 18px;
    margin-bottom: 12px;
    
}
.about .about-content .timeline .timeline-date .fa{
    margin-right: 5px;

}
.about .about-content .timeline .timeline-title{
    font-weight: 700;
    font-size: 17px;
    margin-bottom: 15px;
    text-transform: capitalize;
    color: var(--text-black-900);
}
.about .about-content .timeline .timeline-text{
    line-height: 25px;
    font-size: 16px;
    text-align: justify;
    color: var(--text-black-700);
}
/* ------------------------------------------SERVICE-------------------------------------------------- */

#ser-port{
    background: url(/assets/emptyback.png);
    background-size: cover;
}
.service .service-item{
    margin-bottom: 30px;
    flex: 0 0 33.33%;
    max-width: 33.33%;  

}


#c1{
    background: url(/assets/realistic-jukebox-illustration_23-2150158541.avif);
    background-size: cover;
   font-weight: 600;
   font-size: larger;
}

#c2{
    background: url(/assets/spotify-deal-page-467x316.jpg);
    background-size: cover;
    font-weight: 600;
    font-size: larger;
    color:red;
}


#c3{
    background: url(/assets/MegaShare-scaled.jpg);
    background-size: cover;
    font-weight: 600;
    font-size: larger;
}
.service .service-item .service-item-inner{
    background-color: var(--bg-black-100);
    /* border: 1px solid rgb(245, 245, 245); */
    border-radius: 10px;
    padding: 30px 15px;
    text-align: center;
    transition: all 0.35 ease;
    font-weight: 500;


}

.service .service-item :hover{
    box-shadow: 0 0 20px rgba(55, 42, 237, 0.15);

}


.service .service-item .service-item-inner img{
    text-align: center;
    border-radius: 50%;
    display: block;
    margin: 0 auto 30px;
}
.service .service-item .service-item-inner h4{
    font-size: 18px;
    margin-bottom: 15px;
    text-transform: capitalize;
    font-weight: 500;
    color: var(--text-black-900);
}
.service .service-item .service-item-inner p{
    font-size: 13px;
    font-style: italic;
    color: purple;
  
    line-height: 25px;
}
/* ------------------------------------------PORTFOLIO------------------------------------ */
.portfolio .portfolio-heading{
    float: 0 0 100%;
    max-width: 100%;

}
.portfolio .portfolio-heading h2{
    color: var(--text-black-900);
    font-weight: 500;

}

.portfolio .container{
    padding-bottom: 40px;

}
.portfolio .portfolio-item{
    flex:  0 0 33.33%;
max-width: 33.33%;
margin-bottom: 30px;
}
.portfolio .portfolio-item-inner{
    border: 6px solid rgb(245, 245, 245);
    overflow: hidden;
    border-radius: 10px;
    cursor: pointer;

}
.portfolio .portfolio-item-inner .portfolio-img img{
width: 100%;
display: block;

}

.contact-title{
    text-align: center;
    font-size: 25px;
    margin-bottom: 20px;

    color: purple;
}
.contact-sub-title{
    color: var(--text-black-900);
    font-size: 15px;
    text-align: center;
    }

    #image{
        width: 230px;
        height: 230px;
        border-radius: 7px;
        
        }
        #image:hover{
            transform: scale(1.5);
            border-radius: 5px;
            height: 500px;
        }
        
        .card{
            transition: 0.5s ease-in-out;
        }
        .card:hover{
            transform: translateZ(20px);
            
        }


        .carousel {

            width: 75%;

        }
  
        /* ==============================Contact================================================= */

        #cont{
            background: url(/assets/emptyback.png);
        }
        .contact-title{
            text-align: center;
            font-size: 25px;
            margin-bottom: 20px;
        
            color: tomato;
        }
        .contact-sub-title{
            color: var(--text-black-900);
            font-size: 15px;
            text-align: center;
            
            margin-bottom:60px ;
            }
        
            .contact .contact-info-item{
                flex: 0 0 16%;
                max-width: 16%;
                text-align: center;
                margin-bottom: 60px; 
                margin-left: 250px;
                font-size: xx-large;
        
            }
            .contact .contact-info-item .icon{
                display: inline-block;
            }
            .contact .contact-info-item .icon .fa{
                font-size: 25px;
                color: tomato;
            }
            .contact .contact-info-item h5{
                font-size: 18px;
                font-weight: 700;
                color: var(--text-black-900);
                text-transform: capitalize;
                margin: 15px 0 5px;
        
            }
            .contact .contact-info-item p{
                font-size: 16px;
                line-height: 25px;
                color: var(--text-black-700);
                font-weight: 400;
        
        
            }
            .contact .contact-form{
                flex: 0 0 100%;
                max-width: 100%;
        
            }
            .contact .contact-form .col-6{
                flex: 0 0 50%;
                max-width: 50%;
        
            }
            .contact .contact-form .col-7{
                flex: 0 0 100%;
                max-width: 100%;
                
            }
            .contact .contact-form .form-item .form-control{
                width: 100%;
                height: 50px;
                border-radius: 25px;
                padding: 10px 25px;
                font-size: 16px;
                transition: all 0.3s ease;
                color: var(--text-black-700);
                border: 1px solid rgb(245, 245, 245);
                background-color: rgb(240, 224, 240)
              
            }
            .contact .contact-form .form-item .form-control:focus{
                box-shadow: 0 0 20px tomato;
        
            }
            .contact .contact-form .form-item textarea.form-control{
        height: 140px;
        
            }

            /* -----------------------SOCIAL ICONS-------------------------------------------- */
            #social-icon{
                display: flex;
                margin-top: 450px;
                position: absolute;
                margin-left: 10px;
                
                
            }

#a1{
    height: 4cm;
}
            .social{
                margin-right: 10px;
                font-size: 22px;
                border: 1px solid tomato;
                padding: 6px 10px 6px 10px;
                border-radius: 50%;
                background-color: White;
                cursor: pointer;
                
            }
            #fb{
                font-size: 22px;
                padding: 5px 12px 3px 12px;
            }
        #git{
            padding: 4px 8px 5px 8px;
        }
           
            .contact .contact-form .btn{
                height: 50px;
                padding: 0 50px;
                
            }    
            
           .btn:hover{
                background-color: tomato;
                
            }

        /* ================MEDIA QUERISES================================================== */

        @media (max-width:1199px){
            .aside{
                left: -270px;
            }
            .main-content{
                padding-left: 0;
            }
            .about .about-content .personal-info .info-item p span{
                display: block;
                margin-left: 0;
            }
            .contact .contact-info-item{
                /* flex: 0 0 16%; */
                /* max-width: 16%; */
                text-align: center;
                margin-bottom: 60px; 
                margin-left: 90px;
                font-size: xx-large;
        
            }
             
            .aside .nav-toggler{
                display: flex;
                left: 30px;
            }
            .section{
                left: 0;
            }
            .aside.show_aside{
                left: 0;
            }

            .aside .logo img{
                margin-left: -25px;
                margin-top: -25px;
            
            }

        }
        
        @media (max-width:991px){
            .home .home-info{
                flex: 0 0 100%;
                max-width: 100%;
        
            }
            
            .contact .contact-info-item .portfolio .portfolio-item ,.service .service-item  {
                flex: 0 0 50%;
                max-width: 50%;
        
            }

            .contact .contact-info-item{
              /* flex: 0 0 16%; */
                /* max-width: 16%; */
                text-align: center;
                margin-bottom: 60px; 
                margin-left: 30px;
                font-size: xx-large;
        
            }
            
        }
        @media (max-width:767px){
          .about .about-content .certification, .portfolio .portfolio-item, .contact .contact-info-item, .contact .contact-form .col-6, .service .service-item, .about .about-content .education,  .about .about-content .skills, .about .about-content .personal-info{
        flex: 0 0 100%;
        max-width: 100%;
        
            }
            .contact .contact-info-item{
                /* flex: 0 0 16%; */
                /* max-width: 16%; */
                text-align: center;
                margin-bottom: 60px; 
                margin-left: 30px;
                font-size: xx-large;
        
            }
            footer{

            }
             
        }

        /* --------------------------------------------------------------- */
        /* ----------services-------------- */
#services{
    padding: 30px 0 ;

}
.services-list{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap:40px;
    margin-top: 50px;
}
.services-list div{
    background-color: #262626;
    padding: 40px;
    font-size: 13px;
    font-weight: 300;
    border-radius: 10px;
    transition: background 0.5s; transform: 0.5s;
}
.services-list div h2{
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 15px;

}
.services-list div a{
    text-decoration: none;
    color: #ff04ff;
    font-size: 12px;
    margin-top: 20px;
    display: inline-block;

}
.services-list div:hover{
   background: #963196;
   transform: translate(-10px);

}
/* -----------portfolio-------------- */
#portfolio{
    padding:50px 0;

}
.work-list{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
    grid-gap: 40px;
    margin-top: 50px;
}
.work{
    border-radius: 10px;
    position: relative;
    overflow: hidden;

}
.work img{

    width:100%;
    border-radius: 10px;
    display: block;
    transition: transform 0.5s;
}
.layer{
    padding-top: 10px;
    width: 100%;
    height: 0;
    background: linear-gradient(pink,hotpink);
    border-radius: 10px;
    position: absolute;
    bottom: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    text-align: center;
    transition: height 0.5s;
}

.layer h3{
    font-weight: 500;
    margin-bottom: 20px;
}
.work:hover img{
transform: scale(1.1);
}
.work:hover .layer {
height: 100%;
}

footer{
    margin-top: 4px;
    padding-left: 40%;
    padding-top: 35px;

    background: url(/assets/footer1.jpg);
}
footer span{
    position: relative;
    color: white;

}






/* ----------------------------rotate image---------------------- */
.wrapper, .single-card{
height: 450px;
max-width: 300px;

position: relative;

   }
   .wrapper{
    perspective: 900px;

   }
   .single-card{
    text-align: center;
    transition: all 1.5s cubic-bezier(0.7,-.5,0.3,1.8);
    transform-style: preserve-3d;

   }
   .wrapper:hover .single-card{
transform: rotateY(180deg);
   }
.front, .back{
    width: 330px;
    position: relative;
    top: 0;
    left: 0;
    backface-visibility: hidden;
}
.front{
cursor: pointer;
height: 320px;
background-image: url(/assets/jukebox1.png);
background-size:contain ;
/* background: #fff; */
backface-visibility: hidden;
border-radius: 10px;
/* background-size: cover; */
background-position: center center;
}
.back{
    transform: rotateY(180deg);
    position: absolute;
    border-radius: 10px;
    height: 320px;
    /* background: #fff; */
    background: url(/assets/Projects/juke3.png);
}
.content{
    padding-top: 25%;


}

.content h2 {
    font-size: 35px;
    font-weight: 300;
    margin: 0;
    color: black;

}
.content p{
    color: black;
}

/* ----------------------------------------------- */

.front1, .back1{
    width: 320px;
    position: relative;
    top: 0;
    left: 0;
    backface-visibility: hidden;
}

.front1{
    cursor: pointer;
    height: 320px;
    background-image: url(/assets/Projects/spotify11.jpg);
    /* background: #fff; */
    backface-visibility: hidden;
    background-size: contain;
    background-repeat: no-repeat;
    border-radius: 10px;
    /* background-size: cover; */
    background-position: center center;
    }
    .back1{
        transform: rotateY(180deg);
        position: absolute;
        border-radius: 10px;
        height: 320px;
     
        background: url(/assets/Projects/spotifyreg1.jpg);
        background-size:cover ;
    }



    .front3, .back3{
        width: 320px;
        position: relative;
        top: 0;
        left: 0;
        backface-visibility: hidden;
    }
    
    .front3{
        cursor: pointer;
        height: 250px;
        background-image: url(./assets/hotel.png);
        /* background: #fff; */
        backface-visibility: hidden;
        background-size: contain;
        background-repeat: no-repeat;
        border-radius: 10px;
        /* background-size: cover; */
        background-position: center center;
        }
        .back3{
            transform: rotateY(180deg);
            position: absolute;
            border-radius: 10px;
            height: 320px;
         
            background: url(/assets/Projects/hotel2.png);
            background-size:cover ;
        }



    
        .front4, .back4{
            width: 320px;
            position: relative;
            top: 0;
            left: 0;
            backface-visibility: hidden;
        }
        
        .front4{
            cursor: pointer;
            height: 250px;
            background-image: url(./assets/Projects/weather.png);
            /* background: #fff; */
            backface-visibility: hidden;
            background-size: contain;
            background-repeat: no-repeat;
            border-radius: 10px;
            /* background-size: cover; */
            background-position: center center;
            }
            .back4{
                transform: rotateY(180deg);
                position: absolute;
                border-radius: 10px;
                height: 320px;
             
                background: url(/assets/Projects/w2.png);
                background-size:cover ;
            }

            

    .front2, .back2{
        width: 320px;
        position: relative;
        top: 0;
        left: 0;
        backface-visibility: hidden;
    }
    
    .front2{
        cursor: pointer;
        height: 320px;
        background-image: url(/assets/Projects/muzix4.jpg);
        backface-visibility: hidden;
        background-size: contain;
        background-repeat: no-repeat;
        border-radius: 10px;
        background-position: center center;
        }
        .back2{
            transform: rotateY(180deg);
            position: absolute;
            border-radius: 10px;
            height: 320px;
            background: url(/assets/Projects/muzix3.jpg);
        }

        .content h4{
            color: tomato;
        }
        .contact h1,.contact-title h1{
            font-size: xx-large;
            color: rgb(48, 4, 48);
            font-weight: 800;
        }
     
        .contact-sub-title{
            font-size: x-large;
            color: navy;
            font-weight: 800;
        }
     .contact-info-item .icon{

        border: 1px solid navy;
        background-color: black;
        border-radius: 50%;
        padding: 8px 13px 8px 13px;
        font-size: xx-large;
        box-shadow: 2px solid red;
     }

     .contact-info-item h4, .contact-info-item p{

        font-weight: 500;
        font-size: 20px;
        padding-top:9px ;
     }


        .section-title h1, #services
        {
            padding-bottom: 5px;
border-bottom: 6px solid purple ;

width: 190px;
font-weight: 800;
font-size: xx-large;
        }

        .wrapper h1{

            font-weight: 500;
            color: red;
            background-color: black;
            position: relative;
            margin-top: -76px;
            font-size: x-large;
        }
        .portfolio-heading h2{
            font-size: xx-large;
            font-style:oblique;
            color: #1d0d91;
          margin-left: 40%;
        }
     

        .about .about-content .skills .skill-item{
            flex: 0 0 100%;
            max-width: 100%;
        
        }
         .about .about-content .skills .skill-item h5{
            line-height: 20px;
            font-weight: 600;
            font-size: 16px;
            color: var(--text-black-900);
            text-transform: capitalize;
        }
      
        
        .about .about-content .skills .skill-item .progress{
            background-color: rgb(189, 181, 181);
            height: 7px;
            border-radius: 4px;
            width: 100%;
            position: relative;
           
        }
        .about .about-content .skills .skill-item{
        margin-bottom: 30px;
        
        }
        .about .about-content .skills .skill-item .progress .progress-in {
            position: absolute;
            left: 0;
            top: 0;
            height: 100%;
            border-radius: 4px;
            background-color: tomato;
           
        }
        .skill-percent{
            position: relative;
            margin-left: 400px;
            margin-top: -37px;
            color: blue;
           }